**/*.DS_Store
.gradle/**/*
**/build
**/bin
services/workflow-manager/build
/deployments
**/*.prefs
**/*.project
**/*.classpath
**/.gradle
/build
**/*.class
/bin
.classpath
.project
*.prefs
.idea
clients/html5-mobile/platforms/ios
.settings
**/*.iml
lib/*.jar
**/*.*~
**/.#*
TAGS
TAGS~
*.map
*.sublime-workspace
*.cache
clients/html5-professional/node_modules/*
clients/html5-professional/platforms/*
.nb-gradle
clients/html5-desktop/app/scripts/bower_components/bjond-health-client-api/.bower.json
